In [1]:
!pip install -q pandas

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [1]:
!pip install -qU pip awscli boto3 sagemaker 
!pip install nvidia-pyindex
!pip install tritonclient[http]

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com, https://pypi.ngc.nvidia.com
Requirement already satisfied: nvidia-pyindex in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (1.0.9)
Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com, https://pypi.ngc.nvidia.com
Requirement already satisfied: tritonclient[http] in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (2.22.4)
Requirement already satisfied: numpy>=1.19.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from tritonclient[http]) (1.20.3)
Requirement already satisfied: python-rapidjson>=0.9.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from tritonclient[http]) (1.6)
Requirement already satisfied: geventhttpclient>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from tritonclient[http]) (1.5.4)
Requirement already satisfied: brotli in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from geventhttpclient>=1.4.4->tritonclient[http]) (1.0.9)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from geventhttpclient>=1.4.4->tritonclient[http]) (1.16.0)
Requirement already satisfied: certifi in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from geventhttpclient>=1.4.4->tritonclient[http]) (2021.10.8)
Requirement already satisfied: gevent>=0.13 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from geventhttpclient>=1.4.4->tritonclient[http]) (21.8.0)
Requirement already satisfied: zope.event in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from gevent>=0.13->geventhttpclient>=1.4.4->tritonclient[http]) (4.5.0)
Requirement already satisfied: zope.interface in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from gevent>=0.13->geventhttpclient>=1.4.4->tritonclient[http]) (5.4.0)
Requirement already satisfied: greenlet<2.0,>=1.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from gevent>=0.13->geventhttpclient>=1.4.4->tritonclient[http]) (1.1.2)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from gevent>=0.13->geventhttpclient>=1.4.4->tritonclient[http]) (59.4.0)

In [2]:
import os

In [3]:
import boto3
import json,
import sagemaker
import time
import os
from sagemaker import get_execution_role

sess = boto3.Session()
sm = sess.client("sagemaker")
sagemaker_session = sagemaker.Session(boto_session=sess)
role = get_execution_role()
client = boto3.client("sagemaker-runtime")

SyntaxError: invalid syntax (2559600829.py, line 2)

In [ ]:
triton_image_uri = "354625738399.dkr.ecr.us-west-2.amazonaws.com/sagemaker-tritonserver:22.05-py"

## Package model files and uploading to S3

In [5]:
!wget -q -P triton-serve-fil/preprocessing https://rapidsai-data.s3.us-east-2.amazonaws.com/conda-pack/rapidsai/rapids22.06_cuda11.5_py3.8.tar.gz

In [ ]:
!tar -C triton-serve-fil/ -czf model.tar.gz preprocessing
model_uri = sagemaker_session.upload_data(path="model.tar.gz", key_prefix="triton-serve-fil")

In [4]:
def generate_config(model_dir, max_batch_size, num_features, threshold=0.5, 
                    deployment_type='gpu', storage_type='AUTO'):
    
    if deployment_type.lower() == 'cpu':
        instance_kind = 'KIND_CPU'
    else:
        instance_kind = 'KIND_GPU'

    config_text = f"""backend: "fil"
max_batch_size: {max_batch_size}
input [                                 
 {{  
    name: "input__0"
    data_type: TYPE_FP32
    dims: [ {num_features} ]                    
  }} 
]
output [
 {{
    name: "output__0"
    data_type: TYPE_FP32
    dims: [ 1 ]
  }}
]
instance_group [{{ kind: {instance_kind} }}]
parameters [
  {{
    key: "model_type"
    value: {{ string_value: "xgboost_json" }}
  }},
  {{
    key: "output_class"
    value: {{ string_value: "true" }}
  }},
  {{
    key: "threshold"
    value: {{ string_value: "{threshold}" }}
  }},
  {{
    key: "storage_type"
    value: {{ string_value: "{storage_type}" }}
  }}
]

dynamic_batching {{
}}"""
    
    config_path = os.path.join(model_dir, 'config.pbtxt')
    with open(config_path, 'w') as file_:
        file_.write(config_text)

    return config_path

In [7]:
MAX_MEMORY_BYTES = 60_000_000
num_features = 15
num_classes = 2
bytes_per_sample = (num_features + num_classes) * 4
max_batch_size = MAX_MEMORY_BYTES // bytes_per_sample
deployment_type = 'gpu'
xgb_model_dir = 'xgboost'

In [8]:
generate_config(xgb_model_dir, max_batch_size, num_features, num_classes, deployment_type)

'xgboost/config.pbtxt'

In [1]:
import triton_python_backend_utils as pb_utils

ModuleNotFoundError: No module named 'triton_python_backend_utils'

## Run Inference

In [10]:
import pandas as pd

In [11]:
data_infer = pd.read_csv("data_infer.csv")

In [12]:
data_infer.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?
0,1005,0,2013,6,5,22:03,$-180.00,Swipe Transaction,7834055923142137930,Orlando,FL,32808.0,3395,NaN
1,134,5,2015,2,16,18:34,$99.10,Chip Transaction,-1548923525906069124,Tyler,TX,75706.0,4900,NaN
2,1270,0,2009,11,27,18:44,$82.42,Swipe Transaction,-7329090674102508598,Saint Charles,IL,60174.0,5812,NaN
3,109,0,2010,11,3,16:21,$0.45,Swipe Transaction,-6571010470072147219,Dyer,IN,46311.0,5499,NaN
4,1853,2,2006,3,27,12:25,$11.41,Swipe Transaction,6135208568923449408,East Peoria,IL,61611.0,9402,NaN

In [19]:
import cudf

In [20]:
col_names=data_infer.columns.tolist()

In [21]:
data_infer = data_infer

In [24]:
pd.DataFrame(data_infer.iloc[0].values, col_names)

                                  0
User                           1005
Card                              0
Year                           2013
Month                             6
Day                               5
Time                          22:03
Amount                     $-180.00
Use Chip          Swipe Transaction
Merchant Name   7834055923142137930
Merchant City               Orlando
Merchant State                   FL
Zip                         32808.0
MCC                            3395
Errors?                         NaN

In [6]:
X_infer.columns.tolist()

['User',
 'Card',
 'Year',
 'Month',
 'Day',
 'Amount',
 'Use Chip',
 'Merchant Name',
 'Merchant City',
 'Merchant State',
 'Zip',
 'MCC',
 'Errors?',
 'Hour',
 'Minute']

In [14]:
sample_data = X_infer.astype(str).values

In [15]:
sample_data

array([['767', '0', '2012', '11', '12', '25.37000084', '1', '22776',
        '8313', '145', '26128', '35', '0', '9', '15'],
       ['1676', '0', '2016', '1', '2', '103.75', '0', '61835', '5977',
        '28', '23436', '74', '0', '5', '12'],
       ['1395', '0', '2017', '5', '11', '6.699999809', '0', '21061',
        '11313', '214', '25784', '78', '0', '7', '57'],
       ['1073', '1', '2010', '8', '24', '2.849999905', '2', '39706',
        '5783', '128', '4953', '56', '0', '8', '5'],
       ['123', '0', '2009', '12', '17', '80.77999878', '2', '51879',
        '6749', '215', '13903', '54', '0', '13', '7'],
       ['1945', '2', '2014', '9', '28', '21.37000084', '2', '21752',
        '7688', '78', '16490', '95', '1', '16', '32'],
       ['579', '1', '2007', '9', '13', '11.39999962', '2', '56561',
        '7771', '107', '12881', '56', '0', '13', '6'],
       ['413', '3', '2010', '9', '7', '55.43000031', '2', '8910', '3283',
        '214', '25904', '65', '0', '7', '58'],
       ['83', '0', '2016', '12', '17', '10.97000027', '0', '11908',
        '8492', '28', '23634', '56', '0', '7', '36'],
       ['1748', '0', '2017', '10', '16', '93.12999725', '0', '56561',
        '2911', '189', '20578', '56', '0', '0', '58'],
       ['325', '0', '2013', '1', '17', '54.0', '2', '42872', '6583',
        '28', '23334', '57', '0', '1', '58']], dtype=object)

In [18]:
type(sample_data)

numpy.ndarray

In [ ]:
payload = {
    "inputs": [
        {"name": "INPUT__0", "shape": list(sample_data.shape), "datatype": "STRING", "data": sample_data},
    ]
}